<nav class="navbar">
    @if (authService.isLoggedIn()){
      <div class="hamburger" (click)="toggleMenu()">
        &#9776;
      </div>
  
      <div class="nav-links" [class.open]="menuOpen">
        <ul>
          <li><a routerLink="/home" (click)="closeMenu()">Home</a></li>
          <li><a routerLink="/baby" (click)="closeMenu()">Baby</a></li>
          <li><a routerLink="/feeds" (click)="closeMenu()">Feeds</a></li>
          <li><a routerLink="/pumps" (click)="closeMenu()">Pumps</a></li>
          <li><a routerLink="/profile" (click)="closeMenu()">Profile</a></li>
        </ul>
        <button class="logout-btn" (click)="logout()">Logout</button>
      </div>
    }@else {
      <a routerLink="/signup">Sign Up</a>
    }
  </nav>