<div class="baby-container">
    <div class="baby-list-wrapper">
    @for (baby of babies(); track baby.id) {
      <div class="baby-card">
        <div class="baby-info">
          <p class="baby-name">{{ baby.name }}</p>
          <p class="baby-birthdate">Born: {{ baby.birthdate | date:'mediumDate' }}</p>
        </div>
        <button class="delete-baby-btn" (click)="confirmDelete(baby.id)">Delete</button>
      </div>
    }
    
    <button (click)="toggleModal()" class="add-baby-btn">Add Baby</button>
</div>
</div>
    
  @if (showModal) {
    <div>
      <div class="modal-backdrop" (click)="toggleModal()"></div>
  
      <div class="modal">
        <h2>Add a Baby</h2>
        <form (ngSubmit)="addBaby()" #babyForm="ngForm">
  
          <!-- Baby Name -->
          <mat-form-field appearance="fill">
            <mat-label>Baby's Name</mat-label>
            <input matInput name="name" [(ngModel)]="newBaby.name" required />
          </mat-form-field>
  
          <!-- Birthdate -->
          <mat-form-field appearance="fill">
            <mat-label>Birthday</mat-label>
            <input matInput [matDatepicker]="picker" name="birthdate" [(ngModel)]="newBaby.birthdate" required />
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
  
          <!-- Gender -->
          <mat-form-field appearance="fill">
            <mat-label>Gender</mat-label>
            <mat-select name="gender" [(ngModel)]="newBaby.gender" required>
              <mat-option value="male">Male</mat-option>
              <mat-option value="female">Female</mat-option>
            </mat-select>
          </mat-form-field>
  
          <div class="actions">
              <button mat-button type="button" (click)="toggleModal()">Cancel</button>
              <button mat-raised-button color="primary" type="submit" [disabled]="babyForm.invalid">Add</button>
          </div>
  
        </form>
      </div>
    </div>
  }
  